html
{
    background-color: #FFFFFF;
    width: 420px;
    height: 352px;
    margin-top: -9px;
    margin-left: -8px;
}

div#barraizq
{
    background-color: #f7b288;
    display: inline;
    float: left;
    width: 126px;
    height: 352px;    
}

div#cuerpo
{
    background-color: #fbe7da;
    height: 352px;
} 

img#uma
{
    margin: 13px;
}

ul#lista
{
    color: #0f70b7;
    font-size: 12px;
    list-style-type: square;
    margin-top: 20px;
    padding: 0;
}

ul#lista li
{
    margin-left: 33px;
    padding-left: 10px;
}

div#contenido
{
    padding: 16px 26px 12px 158px;
}

hr
{
    border-width: 1pt;
    border-color: #000000;
}

nombre
{
    font-family: Corbel;
    font-size: 22px;
    font-weight: bold;
}

position
{
    color: #29ace3;
    font-family: Corbel;
    font-weight: bold;
    font-size: 14px;
}

departamento
{
    font-family: Corbel;
    color: #1faf50;
    font-weight: bold;
    font-size: 12px;
}

empresa
{
    font-family: Corbel;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

div#der
{
    float: right;
}