html
{
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    width: 420px;
}

#barraizq
{
    background-color: #f7b288;
    display: inline;
    float: left;
    height: 352px;
    width: 126px;
}

#cuerpo
{
    background-color: #fbe7da;
    height: 352px;
}